---
---

@charset "utf-8";

// Our variables
@font-face {
  font-family: Montserrat;
  src: local("Montserrat"),
       url(assets/Montserrat-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat"),
       url(assets/Montserrat-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat"),
       url(assets/Montserrat-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat"),
       url(assets/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat"),
       url(assets/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: local("Montserrat"),
       url(assets/Montserrat-Black.ttf);
  font-weight: 900;
}
$base-font-family: "Montserrat", Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$heading-font-family: "Montserrat", Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size:   100%;  // 16px by default
$small-font-size:  0.9rem;
$base-line-height: 1.64;

$spacing-unit:     32px;
$content-width:    800px;

$text-color:        #414141;
$dark-text-color:   #333;
$background-color:  #fff;
$brand-color:       #1E3369;
// $brand-light:       #e6e3c4; 
$brand-light:       #D0C7EA;
$brand-warm:        #AD0C2A;
$yellow-color:      #ffc000;
$link-color:        #174b3f;
$link-underline:    #aadbcf;
$header-background: #ececec;
$footer-background: #234;
$footer-text:       darken(#fff, 10%);

$grey-color:       #6b6b6b;
$grey-color-lightest: #f8f8f8;
$grey-color-dark:  darken($grey-color, 15%);
$grey-color-light:  lighten($grey-color, 15%);

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "nav",
  "footer",
  "headings",
  "home",
  "publications",
  "projects",
  "talks",
  "blog",
  "syntax-highlighting",
  "cv"
;
