<footer>
  <div class="container">
    <div class="footer-col">
      Hello from Pittsburgh.<br/>
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr>
    </div>
    <div class="footer-col">
      <a href="https://github.com/frankelavsky/academic_homepage/issues">See a bug on this page? Give me feedback!</a>
    </div>
    <div class="footer-col site-desc">{{ site.description }} I'm <a href="https://bsky.app/profile/frankelavsky.bsky.social">@frankelavsky.bsky.social</a> on Bluesky.</div>
  </div>
</footer>
