footer {
  padding: $spacing-unit 0;

  font-size: $small-font-size;

  background-color: $footer-background;
  color: $footer-text;

  a {
    color: #fff;
    background-image: linear-gradient(transparent 87%, $link-underline 13%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;

    &:hover, &:focus {
      background-image: linear-gradient(transparent 92%, $link-underline 8%);
      background-size: 100% 100%;
      transition: background-size 0.15s ease-in-out, background-image 0.15s ease-in-out;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .footer-col {
    padding: $spacing-unit/2 0;
  }
  .site-desc {
    width: 500px;

    @include media-query($on-laptop) {
      flex: 1 100%;
    }
  }
}
