.home {
  h1 {
    margin-top: 0;
  }

  h2 {
    font-size: 1.5rem;
    border-bottom: none;
  }

  .intro {
    font-size: 1.1rem;
  }

  .columns {
    display: flex;
    flex-direction: row;

    .intro {
      flex: 1;
    }

    .me {
      margin-left: $spacing-unit;

      font-size: 0.9rem;
      text-align: center;

      picture, img {
        width: 220px;
        height: 220px;
        border-radius: 6px;
      }

      ul {
        margin-top: 16px;
      }
    }
  }

  .button {
    color: $brand-color;
    padding: 6px 16px;
    border-radius: 3px;
    border: 1px solid lighten($brand-color, 20%);
    background-image: linear-gradient(transparent 100%, $link-color 0%);
    background-size: 100% 100%;

    &:hover, &:focus {
      opacity: 1;
      text-decoration: none;
      border-bottom: 2.5px solid $brand-color;
      background-color: lighten($brand-color, 80%);
      // background-image: linear-gradient(lighten($brand-color, 80%) 90%, $link-color 10%);
    }
  }

  .featured-projects {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;

    .project {
      flex-grow: 1;
      flex-basis: 0;

      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-right: 16px;
      }

      border-radius: 3px;
      padding: 16px;
      border: 1px solid #ddd;

      transition: box-shadow 0.2s ease;

      &:hover, &:focus {
        box-shadow: #aaa 2px 2px 11px;
      }

      .spacer {
        flex: 1;
      }

      .title {
        margin: 0 0 0.6rem 0;
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1;
      }

      p {
        font-size: 0.85rem;
        margin: 0.7rem 0;
        line-height: 1.2;
      }

      .preview-image {
        display: block;
        width: 100%;
        height: 0;
        padding-top: 60%;
        border: 1px solid #f1f1f1;
        background-size: cover;
        background-position: top left;
        transition: background 1.5s;

        &:hover, &:focus {
          background-position: bottom right;
        }
      }

      .links {
        font-size: 0.8rem;

        a {
          margin-right: 0.5rem;
          white-space: nowrap;
          background-position: top right;
          background-image: linear-gradient(transparent 87%, $link-underline 13%);
          background-size: 75% 100%;
          &:hover, &:focus {
            background-image: linear-gradient(transparent 90%, $link-color 10%);
            background-size: 100% 100%;
            transition: background-size 0.15s ease-in-out, background-image 0.15s ease-in-out;
          }
        }
      }
    }
  }

  .featured-publications {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;

    .publication {
      margin-bottom: 0.7rem;
      display: block;
      color: $text-color;
      
      background-image: linear-gradient(transparent 100%, $link-underline 0%);
      background-size: 100% 100%;
      strong {
        background-image: linear-gradient(transparent 80%, $link-underline 0%);
        background-size: 100% 100%;
      }
      &:hover, &:focus {
        background-image: linear-gradient(transparent 100%, $link-color 0%);
        background-size: 100% 100%;
        strong {
          background-image: linear-gradient(transparent 90%, $link-color 0%);
          background-size: 100% 100%;
        }
      }

      &:hover, &:focus {
        text-decoration: none;
      }

      .fa-trophy {
        color: $yellow-color;
      }

      .fa-award {
        color: firebrick;
      }

      .authors {
        font-weight: 300;
      }
    }
  }

  .news-travel {
    display: flex;
    flex-direction: row;

    font-size: 0.9rem;

    & > div {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  .news {
    ul {
      list-style: none;
      margin-left: 0;

      li {
        margin-bottom: 1rem;
      }

      time {
        display: block;
        color: $grey-color;
        font-size: 0.8rem;
      }
    }
  }

  .travel {
    padding-left: $spacing-unit;

    .date {
      white-space: nowrap;
      color: $grey-color;
      padding-right: 1rem;
    }
  }

  @include media-query($on-palm) {
    .columns {
      flex-direction: column;
      align-items: center;

      .intro {
        order: 2;
      }
      .me {
        order: 1;
        margin-left: 0;
      }
    }

    .button {
      font-size: 1.1rem;
    }

    .featured-projects {
      flex-direction: column;

      .project {
        display: block;
        margin-bottom: 16px;

        &:not(:last-child) {
          margin-right: 0;
        }

        .preview-image {
          width: 40%;
          padding-top: 22%;
          float: left;
          margin-right: 18px;
        }
      }
    }

    .news-travel {
      margin-top: $spacing-unit;
      flex-direction: column;

      .travel {
        padding-left: 0;
      }
    }
  }
}
