.page-header {
  border-top: 6px solid $brand-color;
  padding-top: 6px;
  margin-bottom: 40px;
}

nav {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  line-height: 36px;
  justify-content: space-between;
  position: relative;

  & > *:last-child {
    margin-left: auto;
  }

  a {
    position: relative;
    color: #333;
    padding: 12px 0.3em 0 0.3em;
    margin: 0 0.3em;
    // text-decoration: none;
    font-weight: 600;
    top: auto;

    opacity: 0.75;
    border-bottom: 2px solid transparent;

    transition: opacity 0.25s ease-in-out;

    &:last-child {
      padding-right: 0;
    }
    &[aria-current] {
      border-bottom-color: #333;
      opacity: 1;
    }
    background-image: linear-gradient(transparent 80%, $link-underline 20%);
    &:hover, &:focus {
      text-decoration: none;
      background-image: linear-gradient(transparent 90%, $link-underline 10%);
      background-size: 100% 90%;
      background-repeat: no-repeat;
      background-position: top center;
      padding-bottom: 0.35rem;

      opacity: 1;
      // border-bottom-color: #333;

      transition: opacity 0.25s ease-in-out, top 0.25s ease-in-out;
    }
  }

  .external {
    display: flex;
    flex-direction: row;
    justify-content: center;
    a {
      background-image: linear-gradient(transparent 100%, $link-underline 0%);
      background-size: 100% 100%;
      text-decoration: underline;
      font-weight: 400;
      &:hover, &:focus {
        padding-bottom: 0;
        background-image: linear-gradient(transparent 100%, $link-color 0%);
        background-size: 100% 100%;
      }
    }
  }

  .site-title-wrapper {
    max-width: 9rem;
  }

  .site-title {
    margin-top: 8px;
    padding: 0;
    margin-left: 0;
    margin-right: $spacing-unit;
    flex: 0 0 auto;
    font-size: 1.5em;
    border: none;
    font-weight: 400;

    color: darken($brand-color,10%);
    opacity: 1;
    text-decoration: none;
    background-image: linear-gradient(transparent 70%, $brand-light 30%);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: top center;

    &:hover, &:focus {
      background-image: linear-gradient(transparent 80%, $brand-light 20%);
      background-size: 100% 110%;
      transition: background-size 0.15s ease-in-out;
    }
  }
}

@include media-query($on-laptop) {
  nav {
    line-height: 42px;

    a {
      padding: 0 9px;

      &:nth-child(2) {
        margin-left: -8px;
      }
    }

    .site-title {
      flex: 0 1 100%;
      padding: 0;
      margin-right: 0;
    }
  }
}

@include media-query($on-palm) {
  .site-title {
    margin-top: 0.5em;
  }

  nav {
    justify-content: space-around;

    & > *:last-child {
      margin-left: initial;
    }

    .external {
      flex: 0 1 100%;
      justify-content: space-around;
    }
    .site-title {
      text-align: center;
    }
    // hide icons from internal links
    & > a .fas {
      display: none;
    }

    a {
      margin: 0 5px;
      &[aria-current] {
        border-bottom-width: 4px;
      }
    }
  }
}
