#facets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  &.hidden {
    display: none;
  }

  .facet {
    &:not(:last-child) {
      margin-right: 12px;
    }

    min-width: 125px;
    flex-grow: 1;
    flex-basis: 0;
  }

  ul {
    min-width: 0;
    list-style: none;
    margin-left: 0;

    li {
      min-width: 0;
      white-space: nowrap;
      font-size: 0.85rem;
      cursor: pointer;

      color: $grey-color-dark;

      &.in-query {
        color: black;
        font-weight: 600;
      }

      & > span {
        display: flex;
        align-items: center;

        .limited {
          padding-right: 0.3rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .cnt {
          color: $grey-color-light;
        }
      }

      .bar-full {
        border-bottom: 2px solid #ddd;
        width: 100px;
        max-width: 100%;
        margin-bottom: 3px;

        .bar {
          border-bottom: 2px solid $brand-color;
          margin-bottom: -2px;
        }
      }
    }
  }
}

#only-highlight input {
  vertical-align: text-bottom;
}

#only-highlight.hidden {
  display: none;
}

@include media-query($on-laptop) {
  .bar-full {
    width: 80px !important;
  }
}

#clear-filters {
  color: $grey-color-dark;
  font-weight: 600;
  cursor: pointer;

  &:hover, &:focus {
    color: $text-color;
  }

  &.hidden {
    opacity: 0;
  }

  i {
    color: firebrick;
  }
}

#ft-search {
  width: 350px;
  font-size: 1.1rem;
  padding: 0.4rem;
}

.pubs {
  .pub-year {
    font-size: 1.3rem;
    margin: 0.7rem 0 0.5rem 0;
    border-bottom: none;
    color: $grey-color;
  }

  .publication,
  .year {
    opacity: 1;
    max-height: 600px;
    overflow: hidden;
    transition: all 0.6s ease;

    &.hidden {
      max-height: 0;
      margin: 0;
      opacity: 0;
    }
  }

  .publication {
    margin-bottom: 2rem;

    h3 {
      font-size: 1.2rem;
      margin: 0rem;
      font-weight: 600;

      max-height: 600px;
      overflow: hidden;

      &.hidden {
        max-height: 0;
      }
    }

    .award-icon {
      margin-right: 0.2rem;
      font-size: 1.2rem;

      &.fa-trophy {
        color: $yellow-color;
      }

      &.fa-award {
        color: firebrick;
      }
    }

    .authors {
      margin-bottom: 0.3rem;
      font-weight: 300;
      a {
        color: $text-color;
      }
    }

    .venue,
    .venue a {
      color: $grey-color;
    }

    .awards {
      margin-top: 0.1rem;
      font-weight: 600;
      color: firebrick;
    }

    .tweet {
      &:hover, &:focus {
        text-decoration: none;

        .message {
          text-decoration: none;
        }
      }
      .message {
        font-size: 0.9rem;
        font-style: italic;
        color: $grey-color;
      }
    }

    p {
      margin-bottom: 0;
    }

    .extra-links {
      margin-top: 0.5rem;
      font-weight: 300;
      font-size: 0.9rem;
      a {
        margin-right: 1rem;
        white-space: nowrap;
        background-position: top right;
        background-image: linear-gradient(transparent 87%, $link-underline 13%);
        background-size: 75% 100%;
        &:hover, &:focus {
          background-image: linear-gradient(transparent 90%, $link-color 10%);
          background-size: 100% 100%;
          transition: background-size 0.15s ease-in-out, background-image 0.15s ease-in-out;
        }
      }
    }
  }
}
