.talks {
  h3 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }

  .talk {
    clear: both;

    time {
      float: right;
      color: $grey-color;
      font-weight: 300;
    }

    .extra-links {
      font-weight: 300;
      font-size: 0.8em;

      a {
        &:first-child {
          margin-left: 2em;
        }

        margin-left: 1em;
        background-position: top right;
        background-image: linear-gradient(transparent 87%, $link-underline 13%);
        background-size: 75% 100%;
        &:hover, &:focus {
          background-image: linear-gradient(transparent 90%, $link-color 10%);
          background-size: 100% 100%;
          transition: background-size 0.15s ease-in-out, background-image 0.15s ease-in-out;
        }
      }
    }
  }
}