---
layout: default
---

<section class="container post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.description %}<p class="post-subtitle">{{ page.description }}</p>{% endif %}
    <p class="post-meta">
      Published on {{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} • {{ page.author }}{% endif %}
      {% if page.meta %} • {{ page.meta }}{% endif %}
      </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="blog-links">
  {% if page.previous.url %}
    <div>
      <i class="fas fa-md fa-chevron-left"></i>
      <a href="{{ page.previous.url | relative_url }}" title="Previous Post: {{ page.previous.title }}">{{ page.previous.title }}</a>
    </div>
  {% else %}
    <span class="spacer"></span>
  {% endif %}
  {% if page.next.url %}
    <div>
      <a href="{{page.next.url | relative_url}}" title="Next Post: {{page.Next.title}}">{{ page.next.title }}</a>
      <i class="fas fa-md fa-chevron-right"></i>
    </div>
  {% else %}
    <span class="spacer"></span>
  {% endif %}
  </div>
  <script>
    // <meta property="og:image" content="http://www.frank.computer/images/frank.jpg" />
    console.log(document.head)
    if (document.head?.children?.length) {
      const headImage = document.querySelector('meta[property="og:image"]')
      const headAlt = document.querySelector('meta[property="og:image:alt"]')
      if (headImage) {
        console.log("old:",headImage.getAttribute('content'))
        const newImage = document.querySelector("article img")
        if (newImage && newImage.getAttribute("alt")) {
          headImage.setAttribute("content", newImage.getAttribute("src"))
          headAlt.setAttribute("content", newImage.getAttribute("alt"))
          console.log("setting new:",headImage.getAttribute('content'))
          console.log(headAlt.getAttribute('content'))
        }
      }
    }
  </script>
</section>
